# Build artifacts
build/
dist/
*.spec.bak

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
wp_debug.log
crash.log

# Temp
*.tmp
*.bak
*.log

# IDE
.vscode/
.idea/

# OS
Thumbs.db
Desktop.ini
.DS_Store
